.header {
  background: rgb(238, 180, 34);
}

#vol {
  background: rgb(72, 118, 255);
}

.button {
  margin-top: 20px;
  line-height: 70px;
  padding: 10px 10px;
  background: teal;
  color: white;
  border: none;
}

.button:hover {
  background: gray;
}

.header h1 {
  color: rgb(255, 255, 255);
}
