form {
  margin-top: 10%;
}
.header {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header h1 {
  display: table;
}

#employerBtn {
  float: right;
  font-size: 24px;
}

.button {
  border-radius: 0;
  background-color: #0099ff;
  border: none;
  color: white;
  transition-duration: 0.4s;
  padding: 20px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
}

#signUpBtn {
  width: 100px;
  padding: 10px 10px;
  background-color: #bd01bd;
}
